*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

.background{
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.container{
  background-color: #000000;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 100%;
  -webkit-animation: fadein 3s;
   -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
     -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
}

.menu ul{
  width: 50%;
  height: 30px;
  padding: 40 80;
  display: inline-flex;
}

.menu ul li{
  list-style: none;
  margin: 0 20px;
  color: #929fa8;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
  font-weight: bold;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
     -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
}

.menu ul li:hover{
  color: #a60043;
}

.banner{
  width: 50%;
  height: 50%;
  top: 5%;
  left: 100px;
  position:relative;
  color: #ffffff;
}

.banner-header{
  width: 50%;
  float: left;
}
.banner-header h1{
  font-size: 50px;
  width: 600px;
  position: relative;
  -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 10s; /* Firefox < 16 */
    -ms-animation: fadein 10s; /* Internet Explorer */
     -o-animation: fadein 10s; /* Opera < 12.1 */
        animation: fadein 10s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
