*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: black;
}

.container{
  width: 100%;
  height: 100%;
  z-index: 0;
}

.container1{
  width: 97%;
  height: 100%;
  z-index: 0;
  padding-bottom: 25%;
}

.container2{
  width: 97%;
  height: 10%;
  z-index: 0;
}

.container:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #000000
  display: block;
  background-image: url('background.JPG');
  background-size:cover;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.container1:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #000000
  display: block;
  background-image: url('background.JPG');
  background-size:cover;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.menu ul{
  width: 50%;
  height: 30px;
  padding: 40 80;
  display: inline-flex;
}

.logo img{
  width: 60px;
  margin-top: -16px;
  margin-right: 20px;
  filter:brightness(60%);
}

.logo:hover{
  filter:brightness(150%) !important;
}

.menu ul li{
  list-style: none;
  margin: 0px 20px;
  color: #929fa8;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
  font-weight: bold;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
     -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
  text-align: center;
}

.active{
    color: #bfd0db !important;
}

.menu ul li:hover{
  color: #a60043;
}

.banner{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 600px;
  height: 50%;
  top: 20%;
  position:relative;
  color: #ffffff;
}


.banner-header{
  width: 50%;
  float: left;
}

.banner-header h1{
  font-size: 70px;
  width: 600px;
  position: relative;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
     -o-animation: fadein 5s; /* Opera < 12.1 */
        animation: fadein 5s;
}

.banner-header h2{
  font-size: 20px;
  width: 600px;
  position: relative;
  line-height: 1.6;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
     -o-animation: fadein 5s; /* Opera < 12.1 */
        animation: fadein 5s;
}

.name{
  color: #47b3ff;
    transition: .3s;
}

.name:hover{
  color: #a60043 !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.footer ul{
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  position: fixed;
  bottom: 0;
  height: 30px;
  padding: 40 80;
  display: inline-flex;
}

.footer ul li{
  list-style: none;
  margin: 25px 30px;
  color: #929fa8;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
  font-weight: bold;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
     -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
  text-align: center;
}

.footer-logos img{
  width: 30px;
  margin-top: -3px;
  filter: brightness(30%);
}

.footer-logos:hover{
  filter:brightness(300%) !important;
}

.footer:before{
  content: "";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  padding: 30 80;
  background-color: black;
  opacity: 0.6;

}
